<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.persistence.mybatis.StudentasMapper">
    <resultMap id="StudentasResultMap" type="com.example.demo1.entities.Studentas">
        <id property="id" column="ID"/>
        <result property="vardas" column="VARDAS"/>
        <result property="pavadinimas" column="PAVADINIMAS"/>
        <association property="grupe" javaType="com.example.demo1.entities.Grupe" column="GRUPE_ID"
                     select="com.example.demo1.persistence.mybatis.GrupeMapper.selectGrupeById"/>
        <collection property="pasirenkamiKursai" ofType="com.example.demo1.entities.PasirenkamasKursas" column="ID"
                    select="com.example.demo1.persistence.mybatis.KursasMapper.selectKursaiByStudentId"/>
    </resultMap>

    <select id="selectAllStudentas" resultMap="StudentasResultMap">
        SELECT * FROM STUDENTAS
    </select>

    <select id="selectStudentasByGrupeId" resultMap="StudentasResultMap" parameterType="long">
        SELECT * FROM STUDENTAS WHERE GRUPE_ID = #{id}
    </select>

    <select id="selectStudentasByKursasId" resultMap="StudentasResultMap" parameterType="long">
        SELECT s.*
        FROM STUDENTAS s
        JOIN STUDENTAS_KURSAS sk ON s.ID = sk.STUDENTAS_ID
        WHERE sk.KURSAS_ID = #{id}
    </select>

    <insert id="insertStudentas" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO STUDENTAS (VARDAS, PAVADINIMAS, GRUPE_ID)
        VALUES (#{vardas}, #{pavadinimas}, #{grupe.id})
    </insert>

    <insert id="insertStudentasKursas">
        INSERT INTO STUDENTAS_KURSAS (STUDENTAS_ID, KURSAS_ID)
        VALUES (#{studentasId}, #{kursasId})
    </insert>
</mapper>
